<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://azuredbvscode.documents.azure.com:443/" />
        <add key="accountKey" value="wPqEvvGn6KXJJlGyMRlx6GuXvTAF48r1GtQ8k0D9sMmUoNYYiKzr8mwS1QoKNRvxDfuQFIixmWrVtBYNVUWaHw==" />
      </appSettings>
</configuration>